h1 {
	color:indianred;
	font-weight: bold;
    font-family: 'Playfair Display', serif;
}
body {
	align-content: center;
	text-align:center;
	background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&w=600);age
}
p {
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
table {
	margin-left: 50px;
	margin-right:50px;

}

